body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav {

    background-color: #150300;
    text color: white;
    display: inline-block;
    margin: 0px;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    
}

a {
    color: white
}

.discover {
    text-align: center;
    color: goldenrod

}

.picture {

}

.about {
    color:goldenrod;
    text-transform: uppercase;
}





